<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baseball Statistics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
</head>

<body>

    <header class='header'><strong>Welcome to our Homepage</strong></header>
    <hr>
    <div class="chart-container">
        <canvas id="chart1" width="600" height="400"></canvas>
        <canvas id='chart2' width="600" height="400"></canvas>
        <canvas id="chart3" width="600" height="400"></canvas>
        <canvas id='chart4' width="600" height="400"></canvas>
        <canvas id='chart5' width="600" height="400"></canvas>
        <canvas id='chart6' width="600" height="400"></canvas>
        <canvas id='chart7' width="600" height="400"></canvas>

    </div>



</body>
<script type="text/javascript " src="/static/logic.js "></script>
<!-- <script type="json " src='/data/pitching.json'></script>
<script type="json " src='/data/batting.json'></script> -->



</html>