<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baseball Statistics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>

<body>

<h3 class='header'><strong>Welcome to our Homepage</strong></h3>
<br>
<div>
    <p>Hello user, the chart below displays muliple datapoints combined. 
        click the legend item(s) to remove that data point from the graph to dynamically render data you wish to see:</p>
        <br>
        <h2>ENJOY!!</h2>
<div class="row">
    <div class="col-md-12">
        <canvas id="chart1">The first chart</canvas>
    </div>
</div>
<H4>Legend Description</H4>
<ul>
    <li>Team = The number of team in the league </li>
    <li>RG =</li>
    <li>ERA = Errors</li>
    <li>GF= Games Finished</li>    
</ul>
</div>
    <div class="col-md-12">
        <canvas id="chart2">The second chart</canvas>
    </div>

</body>
<script type="text/javascript" src="/static/logic.js"></script>
<!-- <script type="json" src='/data/pitching.json'></script>
<script type="json" src='/data/batting.json'></script> -->
</html>